* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@font-face {
  font-family: "Roboto";
  src: url("../font/roboto-regular-webfont.woff2");
  font-weight: regular;
  font-style: normal;
}
html {
  font-family: "Roboto";
}

.container-fluid {
  padding: 0;
}

.custom-size-img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100vw;
  height: 100vh;
  -webkit-filter: brightness(30%) grayscale(100%);
          filter: brightness(30%) grayscale(100%);
}

.carousel-control-next, .carousel-control-prev {
  opacity: 0.6;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
  background-image: none;
  font-size: 3rem;
  color: #FBFBFB;
  opacity: 1;
}

.carousel-inner {
  position: relative;
}

.top-menu {
  width: 100%;
  height: 100px;
  background-color: rgba(255, 255, 255, 0.087);
  position: fixed;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-transition: 1s;
  transition: 1s;
}

.top-menu-background-croll {
  background-color: rgb(18, 17, 17);
  -webkit-transition: 1s;
  transition: 1s;
}

.logo {
  background-image: url(../images/logo.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
  max-width: 350px;
  max-height: 350px;
  min-width: 240px;
}

.nav {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.nav__list {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}
.nav__list:last-child {
  padding-left: 0;
}
.nav__item {
  list-style: none;
  margin-right: 15px;
}
.nav__link {
  text-decoration: none;
  padding: 8px;
  color: #FBFBFB;
  font-size: 18px;
  white-space: nowrap;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
}
.nav__link:hover {
  color: #FE2C2B;
}

.main-header {
  position: absolute;
  top: 40%;
  left: 20%;
  z-index: 2;
  max-width: 500px;
  max-height: 300px;
  width: 100%;
  height: 100%;
  color: #FBFBFB;
}
.main-header__element {
  color: #FE2C2B;
}
.background-service {
  background-color: #282C34;
}

.cards-services {
  color: #FBFBFB;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 50px 0 80px 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.cards-services__item {
  max-width: 250px;
  min-height: 300px;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  margin: 0 5px 20px 5px;
  text-align: center;
  position: relative;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
  border: 2px solid #262626;
}
.cards-services__item:last-child {
  margin-right: 0;
}
.cards-services__header {
  font-weight: bold;
}
.cards-services__section {
  font-size: 1.1rem;
  line-height: 30px;
}
.cards-services__button {
  position: absolute;
  top: 80%;
  right: 0;
  left: 0;
  margin: 0 auto;
  max-width: 100px;
}

.img-slider-1 {
  background-image: url(../images/slider-1.jpg);
}

.img-slider-2 {
  background-image: url(../images/slider-2.jpg);
}

.img-slider-3 {
  background-image: url(../images/slider-3.jpg);
}

.img-slider-4 {
  background-image: url(../images/slider-4.jpg);
}

.img-slider-5 {
  background-image: url(../images/slider-5.jpg);
}

.img-slider {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border-radius: 8px;
  -webkit-filter: brightness(30%);
          filter: brightness(30%);
}

.cards-services__section:hover ~ .img-slider, .cards-services__header:hover ~ .img-slider, .cards-services__button:hover ~ .img-slider, .img-slider:hover {
  -webkit-filter: brightness(25%) blur(3px);
          filter: brightness(25%) blur(3px);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.aboutus {
  width: 100%;
  height: 1000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #FBFBFB;
}
.aboutus__img {
  background-image: url(../images/workshop.jpg);
  background-repeat: no-repeat;
  background-position: centerc center;
  background-size: cover;
  width: 100%;
  height: 100%;
  max-width: 500px;
  max-height: 500px;
  min-height: 200px;
  min-width: 300px;
  border-radius: 10px;
  border: 3px solid #262626;
  -webkit-box-shadow: 0px 0px 15px 0px rgba(75, 75, 75, 0.7490196078);
          box-shadow: 0px 0px 15px 0px rgba(75, 75, 75, 0.7490196078);
  margin-right: 40px;
  display: none;
}
.aboutus__article {
  width: 100%;
  height: 100%;
  max-width: 370px;
  max-height: 500px;
  display: none;
}
.aboutus__header {
  text-align: center;
  font-weight: bold;
  font-size: 2.5rem;
}
.aboutus__section {
  font-size: 1.2rem;
  line-height: 32px;
}