* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@font-face {
  font-family: "Roboto";
  src: url("../font/roboto-regular-webfont.woff2");
  font-weight: regular;
  font-style: normal;
}
html {
  font-family: "Roboto";
}

.container-fluid {
  padding: 0;
}

.custom-size-img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100vw;
  height: 100vh;
  -webkit-filter: brightness(30%) grayscale(100%);
          filter: brightness(30%) grayscale(100%);
}

.carousel-control-next, .carousel-control-prev {
  opacity: 0.6;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
  background-image: none;
  font-size: 3rem;
  color: #FBFBFB;
  opacity: 1;
}

.carousel-inner {
  position: relative;
}

.top-menu {
  width: 100%;
  height: 100px;
  background-color: rgba(255, 255, 255, 0.087);
  position: fixed;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-transition: 1s;
  transition: 1s;
}

.top-menu-background-croll {
  background-color: rgb(18, 17, 17);
  -webkit-transition: 1s;
  transition: 1s;
}

.logo {
  background-image: url(../images/logo.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
  max-width: 350px;
  max-height: 350px;
  min-width: 240px;
}

.nav {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.nav__list {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}
.nav__list:last-child {
  padding-left: 0;
}
.nav__item {
  list-style: none;
  margin-right: 15px;
}
.nav__link {
  text-decoration: none;
  padding: 8px;
  color: #FBFBFB;
  font-size: 18px;
  white-space: nowrap;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
}
.nav__link:hover {
  color: #FE2C2B;
}

.main-header {
  position: absolute;
  top: 40%;
  left: 20%;
  z-index: 2;
  max-width: 500px;
  max-height: 300px;
  width: 100%;
  height: 100%;
  color: #FBFBFB;
}
.main-header__element {
  color: #FE2C2B;
}
.background-service {
  background-color: #282C34;
}

.cards-services {
  color: #FBFBFB;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px 0 20px 0;
}
.cards-services__item {
  max-width: 200px;
  min-height: 300px;
  width: 100%;
  height: 100%;
  border: 2px solid #000;
  border-radius: 15px;
  margin-right: 20px;
  text-align: center;
  padding-top: 20px;
  position: relative;
  z-index: 1;
}
.cards-services__button {
  position: absolute;
  top: 80%;
  right: 0;
  left: 0;
  margin: 0 auto;
}

.img-slider-1 {
  background-image: url(../images/slider-1.jpg);
  background-size: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -1;
  -webkit-transition: 1s;
  transition: 1s;
}

.cards-services__item:hover, .cards-services__header:hover, .cards-services__button:hover .img-slider-1 {
  -webkit-filter: brightness(30%) grayscale(100%);
          filter: brightness(30%) grayscale(100%);
  -webkit-transition: 1s;
  transition: 1s;
}

.img-slider-2 {
  background-image: url(../images/slider-2.jpg);
}

.img-slider-3 {
  background-image: url(../images/slider-3.jpg);
}

.img-slider-4 {
  background-image: url(../images/slider-4.jpg);
}

.img-slider-5 {
  background-image: url(../images/slider-5.jpg);
}