html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

html {
  height: 100%;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@font-face {
  font-family: "Roboto";
  src: url("./font/roboto-regular-webfont.woff2") format(woff2);
  font-weight: regular;
  font-style: normal;
}
@font-face {
  font-family: "OpenSans";
  src: url("./font/OpenSans-Medium.ttf") format(truetype);
  font-weight: regular;
  font-style: normal;
}
html {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

body {
  width: 100%;
  height: 100%;
  max-width: 100%;
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
  color: #fff;
  background: linear-gradient(-45deg, #ffffff, #c8c5df, #928ec0, #595ba2, #002d83);
  background-size: 600% 600%;
  -webkit-animation: gradient 15s ease infinite;
          animation: gradient 15s ease infinite;
}

@-webkit-keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header {
  margin-bottom: 30px;
  font-size: 20px;
}
.header__headline {
  font-family: "OpenSans", sans-serif;
  font-size: 25px;
  color: #ffffff;
  background-color: rgba(42, 36, 36, 0.568627451);
  text-align: center;
  min-height: 50px;
  padding: 10px 0 10px 0;
  margin-bottom: 15px;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
}
.header__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  max-width: 420px;
  width: 100%;
  background-color: rgba(42, 36, 36, 0.568627451);
  padding: 5px;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
}
.header__section, .header__mail, .header__telegram {
  margin-bottom: 5px;
}
.header__telegram-icon:hover {
  color: #27A2E1;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
.header__mail-icon:hover {
  color: #CD3C30;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.list-project {
  background-color: rgba(42, 36, 36, 0.568627451);
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  width: 100%;
  max-width: 420px;
  margin: 0 auto;
  text-align: center;
  padding: 5px;
}
.list-project__item {
  margin-bottom: 15px;
}
.list-project__item:last-child {
  margin-bottom: 0;
}
.list-project__link {
  color: #fff;
  position: relative;
  font-size: 25px;
}
.list-project__link:hover {
  text-decoration: none;
}
.list-project__icon {
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
  position: relative;
  font-size: 30px;
  padding: 12px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.list-project__text-hidden {
  display: none;
  height: 0;
  line-height: 24px;
  font-size: 20px;
}

.list-project__icon-opened {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.list-project__text-hidden-opened {
  display: block;
  height: 100%;
}

.copyright {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: auto;
  padding-block: 10px;
}