@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@font-face {
  font-family: "Roboto";
  src: url("../font/roboto-regular-webfont.woff2");
  font-weight: regular;
  font-style: normal;
}
html {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
  font-family: "Roboto";
  scroll-behavior: smooth;
}

body {
  background-color: #282C34;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

.container-fluid {
  padding: 0;
}

.custom-size-img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100vw;
  height: 100vh;
  -webkit-filter: brightness(30%) grayscale(100%);
          filter: brightness(30%) grayscale(100%);
}

.carousel-control-next, .carousel-control-prev {
  opacity: 0.6;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
  background-image: none;
  font-size: 3rem;
  color: #FBFBFB;
  opacity: 1;
}

.carousel-inner {
  position: relative;
}

.top-menu {
  width: 100%;
  height: 100px;
  position: fixed;
  z-index: 50;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-transition: 1s;
  transition: 1s;
}

.top-menu-background-croll {
  background-color: rgb(18, 17, 17);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.logo {
  background-image: url(../images/logo.svg);
  background-repeat: no-repeat;
  background-position: center 65%;
  height: 100%;
  width: 100px;
  min-width: 300px;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.header-service, .header-gallery {
  font-weight: bold;
  color: #FBFBFB;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.hamburger-button {
  display: none;
  position: relative;
  width: 45px;
  height: 34px;
  top: 2rem;
  right: 2rem;
  z-index: 100;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.hamburger-button span {
  position: absolute;
  height: 8px;
  border-radius: 4px;
  width: 45px;
  background-color: #FE2C2B;
  top: 0;
  -webkit-transition: opacity 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}
.hamburger-button span:nth-child(1) {
  top: 0;
}
.hamburger-button span:nth-child(2), .hamburger-button span:nth-child(3) {
  top: 13px;
}
.hamburger-button span:nth-child(4) {
  top: 26px;
}

.hamburger-active span {
  background-color: #FBFBFB;
}

.hamburger-active span:nth-child(1), .hamburger-active span:nth-child(4) {
  opacity: 0;
}

.hamburger-active span:nth-child(2) {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.hamburger-active span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.nav {
  height: 100%;
}
.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-bottom: 0;
}
.nav__list:last-child {
  padding-left: 0;
}
.nav__item {
  list-style: none;
  margin-right: 10px;
}
.nav__link {
  text-decoration: none;
  padding: 5px;
  color: #FBFBFB;
  font-size: 20px;
  white-space: nowrap;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
}
.nav__link:hover {
  color: #FE2C2B;
}
.nav__phone {
  position: relative;
  color: #FBFBFB;
  font-size: 20px;
  white-space: nowrap;
}
.nav__phone::before {
  content: "";
  width: 0;
  height: 2px;
  background-color: #FBFBFB;
  -webkit-transition: width 0.5s;
  transition: width 0.5s;
  position: absolute;
  top: 100%;
  left: 0;
  bottom: 0;
  right: 0;
}
.nav__phone:hover:before {
  width: 100%;
}
.nav__item-menu {
  position: relative;
}
.nav__item-menu > a {
  padding: 5px 6px 5px 5px;
}
.nav__item-menu:hover .nav__list-hidden {
  visibility: visible;
}
.nav__list-hidden {
  visibility: hidden;
  list-style: none;
  padding-left: 0;
  position: absolute;
  background-color: rgb(18, 17, 17);
}

.main-header {
  position: absolute;
  top: 25%;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 2;
  max-height: 300px;
  width: 100%;
  height: 100%;
  max-width: 380px;
  color: #FBFBFB;
}
.main-header__element {
  color: #FE2C2B;
}

.cards-services {
  color: #FBFBFB;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-bottom: 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.cards-services__item {
  max-width: 300px;
  min-height: 300px;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  margin: 0 10px 20px 10px;
  text-align: center;
  position: relative;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
  border: 2px solid #262626;
}
.cards-services__item:last-child {
  margin-right: 0;
}
.cards-services__header {
  font-weight: bold;
  margin-top: 20px;
}
.cards-services__section {
  font-size: 1.2rem;
  line-height: 28px;
}
.cards-services__button {
  position: absolute;
  top: 80%;
  right: 0;
  left: 0;
  margin: 0 auto;
  max-width: 100px;
}

.img-slider-1 {
  background-image: url(../images/slider-1.jpg);
}

.img-slider-2 {
  background-image: url(../images/slider-2.jpg);
}

.img-slider-3 {
  background-image: url(../images/slider-3.jpg);
}

.img-slider-4 {
  background-image: url(../images/slider-4.jpg);
}

.img-slider-5 {
  background-image: url(../images/slider-5.jpg);
}

.img-slider {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border-radius: 8px;
  -webkit-filter: brightness(50%);
          filter: brightness(50%);
}

.cards-services__section:hover ~ .img-slider, .cards-services__header:hover ~ .img-slider, .cards-services__button:hover ~ .img-slider, .img-slider:hover {
  -webkit-filter: brightness(35%) blur(3px);
          filter: brightness(35%) blur(3px);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.aboutus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #FBFBFB;
  padding-bottom: 50px;
}
.aboutus__wrapper-img {
  margin-right: 40px;
}
.aboutus__img {
  background-image: url(../images/workshop.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  max-width: 500px;
  max-height: 500px;
  min-width: 440px;
  border-radius: 10px;
  border: 3px solid #262626;
  -webkit-box-shadow: 0px 0px 15px 0px rgba(75, 75, 75, 0.7490196078);
          box-shadow: 0px 0px 15px 0px rgba(75, 75, 75, 0.7490196078);
  margin-right: 40px;
}
.aboutus__article {
  width: 100%;
  height: 100%;
  max-width: 330px;
  max-height: 500px;
}
.aboutus__header {
  text-align: center;
  font-weight: bold;
  font-size: 2.5rem;
}
.aboutus__section {
  font-size: 1.2rem;
  line-height: 32px;
  margin-bottom: 0;
}

.video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 850px;
}
.video__frame {
  width: 100vw;
  height: 100vh;
  max-height: 500px;
}

.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.gallery__container {
  max-width: 300px;
  max-height: 300px;
  overflow: hidden;
  margin: 0 10px 20px 10px;
  border-radius: 10px;
}
.gallery__img {
  width: 100vw;
  height: 100vh;
  max-width: 300px;
  max-height: 300px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 18px;
  -webkit-transition: 0.8s;
  transition: 0.8s;
  position: relative;
  border-radius: 10px;
}
.gallery__img:hover {
  cursor: pointer;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.gallery__img::before {
  content: "";
  width: 100%;
  height: 100%;
  z-index: 100;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-transition: 1s;
  transition: 1s;
  z-index: 2;
  background-color: rgba(30, 28, 28, 0.5411764706);
}
.gallery__img:hover:before {
  background-color: rgba(254, 43, 43, 0.6274509804);
}
.gallery__text, .gallery__header {
  color: #FBFBFB;
  margin: 0 auto;
  text-align: center;
  z-index: 30;
}
.gallery__text {
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: translate(0, 80px);
          transform: translate(0, 80px);
  overflow: hidden;
}
.gallery__header {
  -webkit-transition: 1s;
  transition: 1s;
  position: relative;
  margin-bottom: 10px;
  font-weight: bold;
}
.gallery__header::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 0;
  background-color: #fff;
  top: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-transition: width 0.5s;
  transition: width 0.5s;
}
.gallery__img:hover > .gallery__header::after {
  width: 100%;
}
.gallery__img:hover > .gallery__text {
  opacity: 1;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

.img-gallery-1 {
  background-image: url(../images/ff.webp);
}

.img-gallery-2 {
  background-image: url(../images/BMW_G05_45e_IMG_3714.jpg);
}

.img-gallery-3 {
  background-image: url(../images/daewoo_lanos__286864754f.jpg);
}

.img-gallery-4 {
  background-image: url(../images/tq.JPG);
}

.img-gallery-5 {
  background-image: url(../images/sf.jpg);
}

.img-gallery-6 {
  background-image: url(../images/si.jpeg);
}

.img-gallery-7 {
  background-image: url(../images/ml.jpg);
}

.img-gallery-8 {
  background-image: url(../images/2018_Porsche_Cayenne_V8_Turbo_Tiptronic_4.0_Front.jpg);
}

.img-gallery-9 {
  background-image: url(../images/rv.webp);
}

.footer {
  background-color: #232020;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.footer__container-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  height: 100%;
  padding-top: 40px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer__flex-container-adress-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.footer__icons-list {
  list-style: none;
  padding-left: 0;
}
.footer__icon {
  font-size: 30px;
  margin-right: 15px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}
.footer__icon:last-child {
  margin-right: 0;
}
.footer__icon-link {
  text-decoration: none;
  color: #FBFBFB;
}
.footer__icon-text {
  font-size: 18px;
}
.footer__adress {
  color: #FBFBFB;
  margin-bottom: 0;
  white-space: nowrap;
}
.footer__adress-header {
  font-weight: bold;
  line-height: 30px;
}
.footer__adress-header:first-child {
  margin-bottom: 0;
}
.footer__question {
  font-size: 20px;
}
.footer__color-header {
  color: #FE2C2B;
}
.footer__adress-item {
  font-size: 25px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.footer__phone {
  position: relative;
}
.footer__phone::before {
  content: "";
  width: 0;
  height: 2px;
  background-color: #FBFBFB;
  -webkit-transition: width 0.5s;
  transition: width 0.5s;
  position: absolute;
  top: 100%;
  left: 0;
  bottom: 0;
  right: 0;
}
.footer__phone:hover:before {
  width: 100%;
}
.footer__frame-map {
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  margin-right: 30px;
  max-height: 300px;
  border-radius: 8px;
}
.footer__copyright {
  color: #FBFBFB;
  text-align: center;
  font-size: 18px;
  padding: 15px 0 15px 0;
}

.fa-facebook, .fa-telegram, .fa-instagram, .fa-viber {
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.fa-facebook:hover {
  color: #395590;
}

.fa-telegram:hover {
  color: #2A9DD5;
}

.fa-instagram:hover {
  color: #EF0186;
}

.fa-viber:hover {
  color: #684BC7;
}

.fa-phone {
  position: relative;
  top: -10%;
}

.custom-tooltip-one {
  opacity: 1 !important;
}

#page-1, #page-2, #page-3, #page-4 {
  scroll-margin: 115px;
}

body::-webkit-scrollbar {
  width: 15px;
}

body::-webkit-scrollbar-track {
  background-color: #121111;
}

body::-webkit-scrollbar-thumb {
  background-color: #b0b0b0;
  border-radius: 10px;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #b0b0b0 #121111;
}

/* Компьютерный монитор */
@media (max-width: 1200px) {
  .container {
    width: 1140px;
  }
}
/* Маленький монитор или горизонтальный планшет */
@media (max-width: 1199px) {
  .container {
    width: 960px;
  }
}
/* Вертикальный планшет */
@media (max-width: 991px) {
  .container {
    width: 720px;
  }

  .hamburger-button {
    display: block;
  }

  .top-menu {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }

  .logo {
    margin-left: 30px;
  }

  .nav {
    z-index: -1;
    visibility: hidden;
    position: absolute;
    -webkit-transform: translate(0, -307px);
            transform: translate(0, -307px);
    width: 100vw;
    height: 264px;
    background-color: rgb(18, 17, 17);
    top: 91%;
  }
  .nav__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .nav__list-hidden {
    visibility: hidden;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
  .nav__item-menu {
    position: relative;
    right: 35px;
  }
  .nav__item {
    margin-right: 0;
    margin-bottom: 15px;
  }
  .nav__phone {
    margin-right: 0;
  }
  .nav__item:nth-child(1) {
    -webkit-animation-delay: 0.2s;
            animation-delay: 0.2s;
  }
  .nav__item:nth-child(2) {
    -webkit-animation-delay: 0.3s;
            animation-delay: 0.3s;
  }
  .nav__item:nth-child(3) {
    -webkit-animation-delay: 0.4s;
            animation-delay: 0.4s;
  }
  .nav__item:nth-child(4) {
    -webkit-animation-delay: 0.5s;
            animation-delay: 0.5s;
  }
  .nav__item:nth-child(5) {
    -webkit-animation-delay: 0.6s;
            animation-delay: 0.6s;
  }
  .nav__item-animation {
    -webkit-animation-delay: 0.7s;
            animation-delay: 0.7s;
  }

  .nav-active {
    visibility: visible;
    -webkit-transform: translate(0);
            transform: translate(0);
    -webkit-transition: all 1s;
    transition: all 1s;
  }

  .nav-list-hidden-active {
    visibility: visible;
    -webkit-transition: all 1s;
    transition: all 1s;
  }

  .aboutus {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .aboutus__img {
    margin-right: 0;
    min-width: 300px;
  }
  .aboutus__article {
    max-width: 400px;
  }
  .aboutus__section {
    padding-left: 10px;
  }
}
/* Горизонтальный телефон */
@media (max-width: 767px) {
  .container {
    width: 540px;
  }

  .footer__container-info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}
/* Вертикальный телефон */
@media (max-width: 575px) {
  .container {
    width: 100%;
  }

  .logo {
    min-width: 250px;
    margin-left: 5px;
  }

  .hamburger-button {
    right: 10px;
  }

  .main-header {
    margin: 0 auto;
    padding-left: 15px;
  }

  .fa-chevron-right, .fa-chevron-left {
    opacity: 0.1;
  }

  .aboutus__img {
    max-height: 300px;
  }
}